<div class="alert alert-success" *ngIf="success">
    <p>We have e-mailed your password reset link!</p>
</div>
<div class="alert alert-danger" *ngIf="social">
    <p>You use Social Login, you can't reset password!</p>
</div>
<div class="alert alert-danger" *ngIf="noExist">
    <p>The Email not exist!</p>
</div>
<form [formGroup]="SendResetPassForm" (ngSubmit)="Send($event)" class="padding">
  <div class="form-group">
    <input formControlName="email" type="email" placeholder="E-mail Address" id="email" class="form-control">
  </div>
  <div class="form-group">
    <input type="submit" value="Send Password Reset Link" class="half button button-block btn btn-lg btn-success btn-block inline" />
    <a href="/login" class="button button-block btn btn-lg btn-info btn-block half inline">Back</a>
    
  </div>
</form>