<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/player/home">Riddle</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/player/play">Play Riddle</a></li>
      <li><a href="/player/score">Score List</a></li>
      <li *ngIf="changePass"><a href="/player/changepass">Change Password</a></li>
    </ul>
    <ul class="nav navbar-nav" style="float:right;">
      <li (click)="logOut()"><a href="javascript:void(0)">Log Out</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>