<form [formGroup]="AddAdminForm" (ngSubmit)="add($event)">
  <h1>Add Admin</h1>
  <div class="form-group">
    <input formControlName="name" type="text" placeholder="Your Full Name" id="name" class="form-control">
  </div>
  <div class="form-group">
    <input formControlName="email" type="email" placeholder="Your email" id="email" class="form-control">
  </div>
  <div class="form-group">
    <input type="submit" value="Add" class="button button-block btn btn-lg btn-success btn-block" />
  </div>
</form>