
<form [formGroup]="PlayRiddleForm" (ngSubmit)="result($event)">
<div class="alert alert-info">
    <p>The Answer only One Word!!!</p>
</div>
<div class="panel panel-default" *ngFor="let riddle of riddles?.response; let i = index">
  <div class="panel-body">{{i+1}}. {{riddle.question}}</div>
  <div class="panel-body">
    <div class="col-xs-2" style="display:inline-block;">
      <input formControlName="input{{i}}" class="form-control" type="text">
    </div>
  </div>
</div>
<div class="alert alert-danger" *ngIf="emptyBox">
    <p>Please Check Your Answer, Some Box are Empty!!!</p>
</div>
<div class="form-group">
  <input type="submit" value="Result" class="button button-block btn btn-lg btn-primary btn-block" />
</div>
</form>