<div class="alert alert-success" *ngIf="success">
    <p>Add Riddle Success!</p>
</div>
<div class="alert alert-danger" *ngIf="notValid">
    <p>The answer cannot have more than a single word!</p>
</div>
<div class="alert alert-warning">
    <p>The answer must be a single word!</p>
</div>
<form [formGroup]="AddRiddleForm" (ngSubmit)="add($event)">
  <h1>Add Riddle</h1>
  <div class="form-group">
    <input formControlName="question" type="text" placeholder="Question" id="question" class="form-control">
  </div>
  <div class="form-group">
    <input formControlName="answer" type="text" placeholder="Answer (Single Word Only)" id="answer" class="form-control">
  </div>
  <div class="form-group">
    <input type="submit" value="Add" class="button button-block btn btn-lg btn-success btn-block" />
  </div>
</form>