<div class="alert alert-success" *ngIf="success">
    <p>We have e-mailed your password reset link!</p>
</div>
<div class="alert alert-danger" *ngIf="failed">
    <p>Please check your email, reset failed!</p>
</div>
<div class="alert alert-danger" *ngIf="diffPass">
    <p>Your Confirmation Password is Different!</p>
</div>
<form [formGroup]="ResetPassForm" (ngSubmit)="Reset($event)" class="padding">
  <div class="form-group">
    <input formControlName="email" type="email" placeholder="E-mail Address" id="email" class="form-control">
  </div>
  <div class="form-group">
    <input formControlName="password" type="password" placeholder="Password" id="password" class="form-control">
  </div>
  <div class="form-group">
    <input formControlName="confirmPassword" type="password" placeholder="Confirm Password" id="confirmPassword" class="form-control">
  </div>
  <div class="form-group">
    <input type="submit" value="Reset" class="button button-block btn btn-lg btn-success btn-block inline" />
    <!--<a href="/login" class="button button-block btn btn-lg btn-info btn-block half inline">Back</a>-->
  </div>
</form>