.padding {
    padding: 100px;
}
/*.half {
    width: 49.5%;
}
input[type='submit'] {
    width: 49.5%;
    margin-bottom: -5px;
}
.inline {
    display: inline-block;
}
.right {
    float: right;
}*/