<div class="alert alert-success" *ngIf="success">
    <p>Account Verification Has Been Sent To Your Email!</p>
</div>
<div class="alert alert-danger" *ngIf="verify">
    <p>Please Verify the Account in Your Email First!</p>
</div>
<div class="alert alert-success" *ngIf="verifySuccess">
    <p>Verification Success!</p>
</div>
<div class="alert alert-danger" *ngIf="verifyFailed">
    <p>Verification Failed!</p>
</div>
<!--<input type="email" [(ngModel)]="success" placeholder="Your email" id="email">-->
<div class="container">
	<section id="content">
		<form [formGroup]="loginForm" (ngSubmit)="doLogin($event)">
			<h1>Login Form</h1>
			<div>
				<input formControlName="email" type="email" placeholder="Your email" id="email">
			</div>
			<div>
				<input formControlName="password" type="password" placeholder="Your password" id="password">
			</div>
			<div>
				<input type="submit" value="Log in" />
				<a href="./reset">Lost your password?</a>
				<a href="./register">Register</a>
			</div>
		</form>
		<div class="button">
			Social Login
			<span (click)="SocialLogin('facebook')"><a href="javascript:void(0)">Fb</a></span>
			<span (click)="SocialLogin('google')"><a href="javascript:void(0)">G+</a></span>
			<span (click)="SocialLogin('linkedin')"><a href="javascript:void(0)">LinkedIn</a></span>
		</div>
	</section>
</div>