<h2 style="text-align: center;">SCORE LIST</h2>
<table class="table">
  <thead>
    <tr>
      <th>No</th>
      <th>Date</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let score of scores?.score | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ score.created_at | date: 'EEEE, d MMMM y HH:mm:ss' }}</td>
        <td>{{ score.score / 10 | percent }}</td>
      </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>