<div class="alert alert-danger" *ngIf="notValid">
    <p>The answer cannot have more than a single word!</p>
</div>
<div class="alert alert-warning">
    <p>The answer must be a single word!</p>
</div>
<form [formGroup]="editRiddleForm" (ngSubmit)="edit($event)">
  <h1>Edit Riddle</h1>
  <div class="form-group">
    <input formControlName="question" [(ngModel)]="questionModel" type="text" placeholder="Question" id="question" class="form-control">
  </div>
  <div class="form-group">
    <input formControlName="answer" [(ngModel)]="answerModel" type="text" placeholder="Answer (Single Word Only)" id="answer" class="form-control">
  </div>
  <div class="form-group">
    <input type="submit" value="Edit" class="button button-block btn btn-lg btn-success btn-block" />
  </div>
</form>