<div id="app">
    <div class="container">
        <!--<div class="row">
            <div class="col-xs-12">
                <a href="#">User</a>
                <a href="#">Add Admin</a>
            </div>
        </div>
        <hr>-->
        <router-outlet></router-outlet>
    </div>
</div>