<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin/home">Riddle</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/admin/adminadd">Add Admin</a></li>
          <li><a href="/admin/user">Player to Admin</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Riddle <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/admin/riddleadd">Add Riddle</a></li>
          <li><a href="/admin/riddle">Edit Riddle</a></li>
          <li><a href="/admin/riddledelete">Delete Riddle</a></li>
        </ul>
      </li>
      <li *ngIf="changePass"><a href="/admin/changepass">Change Password</a></li>
    </ul>
    <ul class="nav navbar-nav" style="float:right;">
      <li (click)="logOut()"><a href="javascript:void(0)">Log Out</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>