<h2 style="text-align: center;">Player List</h2>
<table class="table">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of users?.response | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td><button (click)="update(user.id)" class="btn btn-xs btn-info pull-right">CHANGE TO ADMIN</button></td>
      </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>