<div class="alert alert-danger" *ngIf="diffPass">
    <p>Your Confirmation Password is Different!</p>
</div>
<div class="alert alert-success" *ngIf="success">
    <p>Change Password Success!</p>
</div>
<form [formGroup]="ChangePassForm" (ngSubmit)="changePass($event)">
  <h1>Change Password</h1>
  <div class="form-group">
    <input formControlName="password" type="password" placeholder="Password" id="password" class="form-control">
  </div>
  <div class="form-group">
    <input formControlName="confirmPassword" type="password" placeholder="Confirm Password" id="confirmPassword" class="form-control">
  </div>
  <div class="form-group">
    <input type="submit" value="Change Password" class="button button-block btn btn-lg btn-success btn-block" />
  </div>
</form>