<h2 style="text-align: center;">DELETE SAME ANSWER RIDDLE</h2>
<table class="table">
  <thead>
    <tr>
      <th>No</th>
      <th>Question</th>
      <th>Answer</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let riddle of riddles?.answer | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ riddle.question }}</td>
        <td>{{ riddle.answer }}</td>
        <td><button (click)="delete(riddle.id)" class="btn btn-xs btn-info pull-right">DELETE</button></td>
      </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
