<div class="alert alert-success" *ngIf="success">
    <p>Account Verification Has Been Sent To Your Email!</p>
</div>
<div class="alert alert-danger" *ngIf="diffPass">
    <p>Your Confirmation Password is Different!</p>
</div>
<!--<div class="alert alert-danger" *ngIf="verify">
    <p>Please Verify the Account in Your Email First!</p>
</div>-->
<div class="container">
	<section id="content">
		<form [formGroup]="registerForm" (ngSubmit)="doRegister($event)">
			<h1>Register Form</h1>
			<div>
				<input formControlName="name" type="text" placeholder="Your name" id="name">
			</div>
			<div>
				<input formControlName="email" type="email" placeholder="Your email" id="email">
			</div>
			<div>
				<input formControlName="password" type="password" placeholder="Your password" id="password">
			</div>
			<div>
				<input formControlName="ConfirmPassword" type="password" placeholder="Your confirm password" id="ConfirmPassword">
			</div>
			<div>
				<input type="submit" value="Register" />
				<a href="./login">Login</a>
			</div>
		</form>
		<!--<div class="button">
			Social Register
			<span (click)="SocialLogin('facebook')"><a href="javascript:void(0)">Fb</a></span>
			<span (click)="SocialLogin('google')"><a href="javascript:void(0)">G+</a></span>
			<span (click)="SocialLogin('linkedin')"><a href="javascript:void(0)">LinkedIn</a></span>
		</div>-->
	</section>
</div>